{% extends "blog/base1.html"%}
{%block head%}
{%load static%}
<style type="text/css">
.Blogs{
  width: 600px;
    border: 3px solid green;
	
    padding-top: 25px;
	padding-bottom:25px;
	padding-left:75px;
	padding-right:25px;
    margin: 25px;
	margin-left:27%;
	background-color:honeydew;
	}
	.max{
	text-align:center;}
	.marks{
	margin-left:45%;}
	body{
	background-image: url('http://127.0.0.1:8000/media/blog_pictures/o.jpg');
    background-position: no-repeat; background-attachment: fixed;}
	
	
	
</style>
{%endblock%}
{% block body%}
<div class="container">


{%for content in contents%}
<div class="Blogs">
<h1>{{content.Heading}}</h1><br>

<img src="{{content.Picture.url}}" width="350px" align="center"><br>
<p>
<h5>{{content.caption}}</h5>
</p>

    Author : {{content.user.first_name}}
    <a href="#">c</a>Comments<br>
    Posted On : {{content.date}}<br>

<a href="{% url 'blog:blog_full' pk=content.pk%}">
<button type="button" style="color: crimson">View</button></a>


<br>

</div>

{%endfor%}
     
<br><br>
<br>
<div class="marks">
<div class="pagination">
<mark><strong>
    <span class="step-links">
        {% if contents.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contents.previous_page_number }}">previous</a>
        {% endif %}
         
        <span class="current">
            Page {{ contents.number }} of {{ contents.paginator.num_pages }}.
        </span>

        {% if contents.has_next %}
            <a href="?page={{ contents.next_page_number }}">Next</a>
            <a href="?page={{ contents.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
	</strong>
	</mark>
</div>
</div>
 </div>
{% endblock%}
